/* basic page style */

.body {
	background-color:#999;
	margin:0px;
	overflow:auto;
}

/* lower nav bar */
div#bottom-navbar {
	height: 30px;
	width: 100%;
	background-color: #bfbfbf;	
}

div#bottom-navbar a {
	color: white;	
}

div#bottom-navbar a:hover {
	color: #112c71;
}

/**** GLIMMPSE Application Styles ****/

.glimmpseLogo {
	color: white;
	font-weight: bold;
	background-image: url('/images/glimmpse-logo.png');
	background-repeat:no-repeat;
	background-position: 10px 0px; 
	width: 164px;
	height: 105px;
}

.leftPanel {
	width: 200px;
	background: #112c71 url('/images/navtop.png') no-repeat ;
	height: 100%;

}

.rightPanel {
	width: 787px;
}

.titleBar {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: white;
	background-color: #112c71;
	width: 100%;
	height: 32px;
}

.titleBar .gwt-HTML {
	width: 96%;
	text-align: right;
	margin-right: 50px;
	font-size: 14pt;
}

/* tool bar for save, help, etc */
.toolsMenuPanel {
	width: 80%;
	background-color: white;
	background-image: none;
}

.toolsMenuPanel .gwt-MenuBar {
	background: white;
	border: none;
}

.toolsMenuHeader {
	width: 64px;
	text-align: right;
	background-image: url('/images/gear.png');
	background-repeat:no-repeat;
	background-position: 0px 0px; 
	margin-right: 5px;
}

.toolsMenuItem {
	
}

/* left nav panel */
.wizardLeftNavHeader .gwt-HTML {
	height: 32px;
	width: 200px;
	text-align: center;
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	border-bottom: 2px solid e87439;
	text-decoration: none;
}

.wizardLeftNavHeader-open .gwt-HTML {
	color: e87439;
	border-bottom: none;
	text-decoration: none;
}

.wizardLeftNavContent {
	width: 100%;
	text-align: right;
	background-color: white;
}

.wizardLeftNavLink {
  cursor: pointer;
  cursor: hand;
  font: smaller;
  border: none;
  color: #005C84;
  width: 100%;
  background-color: white;
  text-align: right;
}

.wizardLeftNavLink-skipped {
  visibility: hidden;
}

.wizardLeftNavLink-incomplete {
  color: black;
}

.wizardLeftNavLink-complete {
  color: green;
}

.wizardLeftNavLink-notAllowed {
  color: gray;
}

.wizardLeftNavLink:hover {
  text-decoration: underline;
}


/* panel containing the submit/finish button */
.finishPanel {
  background-image: url('/images/navbottom.png');
  	width: 100%;
	height: 105px;
}

.finishButton {
	background-color: green;
	color: e87439;
	border: 1px solid white;
	width: 75px;
	height: 32px;
}

/* mode selection screen */

/* style for initial mode selection screen */
.modeSelectionInputContainer {
	padding: 10px;
	margin-left:20px;
	background: #ebf0f5;
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
   border-radius: 5px;
}

.modeSelectionPanelHeader {
	margin-left: 20px;
	margin-top: 10px;
	font-weight: bold;
	font-size: large;
	width: 90%;
}

.modeSelectionPanelDescription {
	margin: 10px 20px;
	width: 80%;
}

.modeSelectionPanelContainer {
	background-color:  white;
	height: 260px;
	width: 240px;
	border: 2px solid #ccc;
}

.modeSelectionPanelContainerTitle {
	font-size: larger;
	text-align: center;
	width: 100%;
	height: 30px;
	padding-top: 6px;
	background: #005C84;
	border-bottom: 2px solid black;
	color: white;
}

.modeSelectionPanelContainerDescription {
	padding: 10px;
	height: 150px;
}

.modeSelectionPanelGoButton {
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.modeSelectionPanelContainer .gwt-FileUpload {
	width: 75px;
	margin-left: 5px;
	margin-top: 8px;
}

/* style for main wizard input panel (GWT class) */
.glimmpseWizardPanel {
	margin: 5px 5px;
	padding: 5px;
	background: #fff;
	height: 100%;
}

/* style for main wizard input panel (GWT class) */
.wizardContentPanel {
	width: 810px;
	min-height: 400px;
}

/* styles applied to steps in the input wizard */
.wizardStepPanel {
	min-height: 500px;
	width: 100%;
	padding-left: 10px;
}

.wizardStepPanel-subpanel {
	width: 100%;
}

.wizardStepHeader {
	margin: 5px 5px;
	font-weight: bold;
	font-size: 14pt;
	width: 80%;
}

.wizardStepDescription {
	margin: 5px 5px;
	font-size: 12pt;
	width: 80%;
}

.wizardStepHeader-subpanel {
	border-top: 1px solid #ccc;
	font-weight: normal;
	font-size: larger;
	margin: 10px 0px;
}


