/* basic page style */

.body {
	background-color:#999;
	margin:0px;
	overflow:auto;
}

/* lower nav bar */
div#bottom-navbar {
	height: 30px;
	width: 100%;
	background-color: #bfbfbf;	
}

div#bottom-navbar a {
	color: white;	
}

div#bottom-navbar a:hover {
	color: #112c71;
}

/**** GLIMMPSE Application Styles ****/

.glimmpseLogo {
	color: white;
	font-weight: bold;
	background-image: url('/images/glimmpse-logo.png');
	background-repeat:no-repeat;
	background-position: 10px 0px; 
	width: 164px;
	height: 105px;
}

.leftPanel {
	width: 200px;
	background: #112c71 url('/images/navtop.png') no-repeat ;
	height: 100%;

}

.rightPanel {
	width: 787px;
}

.titleBar {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: white;
	background-color: #112c71;
	width: 100%;
	height: 32px;
}

.titleBar .gwt-HTML {
	width: 96%;
	text-align: right;
	margin-right: 5px;
	font-size: 14pt;
}

/* tool bar for save, help, etc */
.toolsMenuPanel {
	width: 100%;
	background-color: white;
	border: 1px solid green;
}

.toolsMenuHeader {
	width: 200px;
	text-align: right;
	background-image: url('/images/gear.png');
	background-repeat:no-repeat;
	background-position: 0px 0px; 
	border: 1px solid red;
	margin-right: 5px;
}

.toolsMenuItem {
	
}

/* left nav panel */
.wizardLeftNavHeader .gwt-HTML {
	height: 32px;
	width: 200px;
	text-align: center;
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	border-bottom: 2px solid e87439;
	text-decoration: none;
}

.wizardLeftNavHeader-open .gwt-HTML {
	color: e87439;
	border-bottom: none;
	text-decoration: none;
}

.wizardLeftNavContent {
	width: 100%;
	text-align: right;
	background-color: white;
}

.wizardLeftNavLink {
  cursor: pointer;
  cursor: hand;
  font: smaller;
  border: none;
  color: #005C84;
  width: 100%;
  background-color: white;
  text-align: right;
}

.wizardLeftNavLink-skipped {
  visibility: hidden;
}

.wizardLeftNavLink-incomplete {
  color: black;
}

.wizardLeftNavLink-complete {
  color: green;
}

.wizardLeftNavLink-notAllowed {
  color: gray;
}

.wizardLeftNavLink:hover {
  text-decoration: underline;
}


/* panel containing the submit/finish button */
.finishPanel {
  background-image: url('/images/navbottom.png');
  	width: 100%;
	height: 105px;
}

.finishButton {
	background-color: green;
	color: e87439;
	border: 1px solid white;	
}


